@media screen and (max-width: 1000px) {
  .container  {
    visibility: hidden;
    display: none;
  }
}


.container {
    position: relative;
}

.canvas, #rectangle {
    position: absolute;
    background-color: darkblue;
    opacity: 0.6;
    height: 100%;
    width: 1536px;
    left: calc((100vw - 1536px)/2);
    border-radius: 50px;
    pointer-events: none;
  }
  canvas {
    border: 5px solid green;
    border-radius: 50px;
}