.header-container{
    /* background-color: gainsboro; */
}

@media screen and (max-width: 1000px) {
    .connect-button{
        font-size: large;
    }

    .view-account-button{
        font-size: large;
    }

    .disconnect-button{
        font-size: large;
    }
}

@media screen and (min-width: 1000px) {
    .connect-button{
        font-size: large;
        position: relative;
        left:calc(1426px/2);
    }

    .view-account-button{
        font-size: large;
        position: relative;
        left:calc(1326px/2);
    }

    .disconnect-button{
        font-size: large;
        position: relative;
        left:calc(1326px/2);
    }
}