.modal-style {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 60%;
    margin-right: -50%;
    font-family: Monospace;
    background-color: #353739;
    border-radius: 10px;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: white;
    padding: 30px;
    position: inherit;
}

@media screen and (max-width: 500px) {
    .modal-style {
        width: 90%;
    }
}